
/*
     FILE ARCHIVED ON 06:53:25 Apr 24, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:38:11 Jan 30, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.014
  exclusion.robots: 0.038
  exclusion.robots.policy: 0.019
  esindex: 0.023
  cdx.remote: 8.959
  LoadShardBlock: 307.029 (3)
  PetaboxLoader3.datanode: 289.962 (6)
  PetaboxLoader3.resolve: 521.001 (3)
  load_resource: 545.9 (2)
  loaddict: 50.793
*/